@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

body {
    height: 700px;
    width: 98%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki ;
}

section {
    height: 70%;
    width: 85%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.top-box, .middle-box, .bottom-box {
    height: 30%;
    width: 95%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.bottom-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.donate-button {
    height: 50%;
    width: 25%;
}

.middle-box {
    display: flex;
    justify-content: space-around;
    flex-direction:row-reverse;
    align-items: center;
}
.target-box {
    height: 30%;
    width: 20%;
    border: 1px solid black;
}
.donation-box {
    height: 80%;
    width: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.donation-target {
    height: 30%;
    width: 75%;
    border: 1px solid black;

}

.donation-bar {
    height: 30%;
    width: 75%;
    border: 1px solid black;
}
.title {
    width: 95%;
    font-family: 'Seymour One', sans-serif;
    /* font-weight: bold; */
    font-size: 270%;
    color:rgb(0, 105, 143)
}

.one-pound-button {
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .one-pound-button:hover {background-color: #3e8e41}
  
  .one-pound-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .five-pound-button {
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d70000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .five-pound-button:hover {background-color: #950000}
  
  .five-pound-button:active {
    background-color: #6e0000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .ten-pound-button {
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #80009a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
 
  
  .ten-pound-button:hover {background-color: #570089}
  
  .ten-pound-button:active {
    background-color: #790079;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .loading-bar {
    border: 1px solid rgb(255, 255, 255);
    height: 20%;
    max-width: 500%;
  }

  